<h1>About me</h1>

<div class="row">
    <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 400, alt:"Profile Image" %>
    </div>
    
    <div class="col-md-8">
        <p>Hi. How are you.</p>
    </div>
</div>


