<div class = "app-card-container">
    <div class = "card">
        <h1>About me</h1>
        
        <div class="row">
            <div class="col-md-4">
                <%= image_tag "profile.jpg", width: 300, alt:"Profile Image", class: "profile-img" %>
            </div>
            
            <div class="col-md-8">
                <p>This is supposed to be about me, but I'm boring. How are you?</p>
            </div>
        </div>
    </div>
</div>


