<div class = "app-card-container">
    <div class = "card">
        <h1>Contact</h1>
        
        <div class = "row">
            <div class = "col-md-6">
                
                <h3>School</h3>
                <p>1400 Goodwin Ave, Salt Lake City, UT 84116</p>
            
                <h3>Phone</h3>
                <p>Over <%= number_to_phone "0000009000" %></p>
            
                <h3>Email Me:</h3>
                <p><a href = "mailto:Ntariana9@gmail.com?subject=Contact", "email me">Ntariana9@gmail.com</a></p>
                
            </div>
            
            <div class = "col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.511124452262!2d-111.93394398417786!3d40.79476067932302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f419aa81f9f1%3A0x7804d07a50baf011!2sSalt+Lake+Center+for+Science+Education!5e0!3m2!1sen!2sus!4v1499707266355" width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>