<h1>Pages#contact</h1>

<p><%= number_to_phone "0000000000" %></p>

<p>Over <%= number_to_currency "9000" %></p>

<p><%= number_to_percentage "99.999" %></p>

<p><%= number_with_delimiter "99541236543699923684234759" %></p>
