<div class="inner cover">
    <h1 class="cover-heading">Home</h1>
    <p class="lead">This website it just for practicing coding with 
    <i>Ruby on Rails</i>, 
    <i>HTML</i>, 
    <i>CSS</i>, and 
    <i>Javascript</i>. 
    The tutorials I used to make this website are from <a href = "https://devcamp.com/">Devcamp</a>. 
    I went through these tutorials during the summer of 2017 in a program called <a href = "http://ctsutah.com">Code to Success</a>, where students go through a 9 week course during the summer to work on their coding skills for the future. 
    Feel free to look around this website. ^u^
    </p>
</div>
