<div class="inner cover">
    <h1 class="cover-heading">Home</h1>
    <p class="lead">This is the home page. This is where you can find other pages. You can also see the other pages by looking at pretty much any page on this site.</p>
    <p class="lead">
        <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>
